h1{
    color:blueviolet
}
.diyora1{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.diyora2{
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
.diyora3{
    font-family: 'Lora', serif;
font-weight: 400;
}
.diyora4{
    font-family: 'Merriweather', serif;
font-weight: 400;
}
.diyora5{
    font-family: 'Noto Sans Cherokee', sans-serif;
font-weight: 400;
}
.diyora6{
    font-family: 'Oswald', sans-serif;
font-weight:500;
}
.diyora7{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.diyora8{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.diyora9{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
}
.diyora10{
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}